<div class="flex flex-col flex-auto min-w-0">


    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Monitoreo</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Tiempo Real</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Monitoreo de Lagunas
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <div class="mat-elevation-z8">

                <div>

                    <app-vjs-player [options]="{ autoplay: true, controls: true, sources: [{ src: 'http://143.198.224.239:8080/hls/lugo.m3u8', type: 'application/x-mpegURL' }]}"></app-vjs-player>

                    <button mat-fab color="primary" style="float: right" routerLink="/social/actores/nuevo">
                    </button>
                </div>

                <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator> -->
            </div>

        </div>

    </div>

</div>